
<div class="contact" id="contact">
    <div class="container">
        <h3 class="title">İletişim</h3>
        <div class="contact-us">
            <form action="#" method="post">
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="text" name="Kimden" placeholder="Ad" required="">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="text" name="Kimden" placeholder="Soyad" required="">
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">
                    <input type="email" name="Mail" placeholder="Email" required="">

                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 styled-input">

                    <input type="text" name="Konu" placeholder="Telefon" required="">

                </div>
                <div class="clearfix"> </div>
                <div class="styled-input">

                    <textarea name="Message" placeholder="Mesaj" required=""></textarea>
                </div>
                <div>
                    <div class="click">
                        <input type="submit" value="Gönder">
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"> </div>
        <div class=" col-md-8 col-sm-8 col-xs-7 contact-map">
            <div class="map-grid">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d99512.54341875526!2d30.466632590074198!3d38.79197590588539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cf3d18044f71b5%3A0x835ef706f94f4c66!2sSel%C3%A7uklu%2C%2003218%20Afyonkarahisar%20Merkez%2FAfyonkarahisar!5e0!3m2!1str!2str!4v1667319672421!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>

        <div class=" col-md-4 col-sm-4 col-xs-5 contact-icons">
            <div class="footer_grid_left">
                <h5>Adres</h5>
                <p>
                    Afyonkarahisar,<span>
                        Türkiye
                    </span>
                </p>
            </div>
            <div class="footer_grid_left">
                <h5> İletişim</h5>
                <p>+(000) 123 4565 32 <span>+(010) 123 4565 35</span></p>
            </div>
            <div class="footer_grid_left">
                <h5>Email</h5>
                <p>
                    <a href="mailto:info@example.com">eulusoy139@gmail.com</a>
                   
                </p>
            </div>

        </div>
        <div class="clearfix"> </div>




    </div>
</div>

