
@{
    Layout = null;
}

<div id="gallery" class="gallery">
    <div class="container ">
      
        <h3 class="title clr">Projelerim</h3>
        <div class="gallery-info ">
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids ">
                <a href="~/web/images/logistic/logistic1.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/logistic/logistic1.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids">
                <a href="~/web/images/logistic/logistic2.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/logistic/logistic2.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids ">
                <a href="~/web/images/logistic/logistic3.png" class="galler-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/logistic/logistic3.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids  grid-mdl mb-lg-4 ">
                <a href="~/web/images/logistic/logistic4.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/logistic/logistic4.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <br />
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids grid-mdl">
                <a href="~/web/images/gezi/gezi1.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/gezi/gezi1.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids  grid-mdl">
                <a href="~/web/images/gezi/gezi2.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/gezi/gezi2.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids  grid-mdl">
                <a href="~/web/images/gezi/gezi3.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/gezi/gezi3.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids  grid-mdl">
                <a href="~/web/images/stok/stok1.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/stok/stok1.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids  grid-mdl">
                <a href="~/web/images/stok/stok2.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/stok/stok2.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids  grid-mdl">
                <a href="~/web/images/stok/stok33.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/stok/stok33.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids  grid-mdl">
                <a href="~/web/images/stok/stok4.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/stok/stok4.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 gallery-grids  grid-mdl">
                <a href="~/web/images/Yeni klasör/Büfe 1.11.2022 17_45_58.png" class="gallery-box" data-lightbox="example-set" data-title="">
                    <img src="~/web/images/Yeni klasör/Büfe 1.11.2022 17_45_58.png" alt="" class="img-responsive zoom-img">
                </a>
            </div>
        </div>
       
    </div>
</div>

