@using MvcCv.Models.Entitiy
@model List<TblSertifika>
<div class="resume-section-content">
    <h2 class="mb-5">Sertifikalarım</h2>
    @foreach(var x in Model) {
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
           @x.Acıklama
        </li>
      
    </ul>
    }
</div>
