@using MvcCv.Models.Entitiy
@model List<TblYeteneklerim>


<div class="services" id="services">
    <div class="container">
        <h3 class="title clr">Yeteneklerim & Sertifikalarım</h3>
        <div class="banner-bottom-girds">

            <div class="col-md-5 my-ser-right">
                <div class="col-md-6 col-sm-6 col-xs-6 stats-grid stats-grid-1">
                    <div class="ser-icone">
                        <span class="fa fa-users font" aria-hidden="true"></span>

                        <div class="counter">688</div>
                        <div class="stat-info-w3ls">
                            <h4>Bağlantılar</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 stats-grid stats-grid-2">
                    <div class="ser-icone clr-green">
                        <span class="fa fa-coffee font" aria-hidden="true"></span>
                        <div class="counter">55</div>
                        <div class="stat-info-w3ls">
                            <h4>Görüşmeler</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 stats-grid stats-grid-3">
                    <div class="ser-icone clr-green">
                        <span class="fa fa-trophy font" aria-hidden="true"></span>

                        <div class="counter">9</div>
                        <div class="stat-info-w3ls">
                            <h4>Sertifikalar</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 stats-grid stats-grid-4">
                    <div class="ser-icone">
                        <span class="fa fa-lightbulb-o font" aria-hidden="true"></span>

                        <div class="counter">32</div>
                        <div class="stat-info-w3ls">
                            <h4>Projeler</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                @foreach (var x in Model)
                {
                    <div class="w3l_about_bottom_grid_right bar-grids">
                        <h6>@x.Yetenek<span> @x.Oran% </span></h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" style="width: 100%">
                            </div>
                        </div>

                    </div>
                }
            </div>
            <section class="resume-section" id="awards">
                @Html.Action("Sertifikalarım")
            </section>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
