@using MvcCv.Models.Entitiy
@model List<TblSertifika>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
      
        <div class="container-fluid">
            <div class="row">
              
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Sertifika Listem</h3>
                        </div>
                        <div class="card-body">
                          
                            <div class="tab-content">
                                <div class="mt-4" id="timeline">
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        @foreach (var item in Model)
                                        {

                                            <div class="time-label">
                                                <a href="/Sertifika/SertifikaGetir/@item.ID" class="btn btn-success">
                                                    <span class="bg-success">
                                                        @item.Tarih
                                                    </span>
                                                </a>
                                            </div>
                                            <!-- /.timeline-label -->
                                            <!-- timeline item -->
                                            <div>
                                                @*<i class="fas fa-envelope bg-primary"></i>*@
                                                <div class="timeline-item">

                                                    <div class="timeline-body">
                                                        @item.Acıklama
                                                    </div>
                                                    @*<div class="timeline-footer">
                            <a href="#" class="btn btn-primary btn-sm">Düzenle</a>
                            <a href="#" class="btn btn-danger btn-sm">Sil</a>
                        </div>*@
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <a href="/Sertifika/YeniSertifika/" class="btn btn-info">Serfika Ekle</a>
                                   
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</body>
</html>
